<footer id="footer" class="section  ">
  <div class="footercontainer" style="background-color: #343A40;">
  <div class="container" style="padding-top: 30px;
  color: white;">
    <div class="footer-container">
      <div class="footer-top">
        <div class="row">
          <div class="footer-col-intro col-sm-12 col-md-6 col-lg-3">
            <div class="footer-widget">
              <div class="footer-logo mb-4">
                <a href="/" class="logo-link" style="display:flex;">
                  <img src="../../assets/img/logo-small.png" alt="logo">
                  <p style="padding: 10px 10px;
                  margin: 8px;">BKQuizz</p>
                </a>
              </div>
              <div class="mb-4 site-description"> Thi trắc nghiệm online với hàng ngàn đề thi, ngân hàng câu hỏi phong phú đa dạng trên nhiều lĩnh vực </div>

            </div>
          </div>
          <div class="footer-col-info col-sm-12 col-md-6 col-lg-3">
            <div class="footer-widget">
              <p class="footer-widget-title">Liên Hệ</p>
              <div class="footer-widget-content">
                <ul class="list-infor">
                  <li>
                    <i class="icon-place"></i> 54 Nguyễn Lương Bằng, Tp. Đà Nẵng
                  </li>
                  <li>
                    <i class="icon-mail"></i> BKQuizz@gmail.com
                  </li>
                  <li>
                    <i class="icon-phone"></i> 012.34.56.789
                  </li>
                </ul>
              </div>
              <div class="mt-2">
                <a href="//www.dmca.com/Protection/Status.aspx?ID=0ddf416b-57c6-45f8-922e-c4f8af2f9660" title="DMCA.com Protection Status" class="dmca-badge" rel="nofollow noreferrer" target="_blank">
                  <img src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=0ddf416b-57c6-45f8-922e-c4f8af2f9660" alt="DMCA.com Protection Status">
                </a>
                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
              </div>
            </div>
          </div>
          <div class="footer-col-info col-sm-12 col-md-6 col-lg-3">
            <div class="footer-widget">
              <p class="footer-widget-title"> Liên Kết </p>
              <div class="footer-widget-content">
                <ul class="list-menu">
                  <li>
                    <a href="#" class="">Liên hệ</a>
                  </li>
                  <li>
                    <a href="#" class="">Đề thi</a>
                  </li>
                  <li>
                    <a href="/thoi-tiet" class="">Thời tiết</a>
                  </li>
                  <li>
                    <a href="/cong-cu" class="">Công cụ Online</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-col-info col-sm-12 col-md-6 col-lg-3">
            <div class="footer-widget">
              <p class="footer-widget-title"> Điều khoản & Điều kiện </p>
              <div class="footer-widget-content">
                <ul class="list-menu">
                  <li>
                    <a href="#" class="">Hướng dẫn dành cho học sinh</a>
                  </li>
                  <li>
                    <a href="#" class="">Hướng dẫn dành cho giáo viên</a>
                  </li>
                  <li>
                    <a href="/tin-tuc/chinh-sach-quyen-rieng-tu.html" class="">Chính sách quyền riêng tư</a>
                  </li>
                  <li>
                    <a href="/tin-tuc/dieu-khoan-dich-vu.html" class="">Điều khoản dịch vụ</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
<!-- /Footer -->
