table {
    width: 100%;
}

tr td {
    padding-left: 2%;
    padding-right: 2%;
}

table {
    font-weight: 700;
    text-align: center;
    margin: auto;
}

table tr {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
}

table tr td {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    font-size: 15px;
}

a {
    font-style: revert;
    font-size: 20px;
    margin: 5px 0;
}

.btn-primary {
    margin-right: 20px;
    margin-left: -29px;
}

.btn-info {
    margin-right: -25px;
}

.del {
    font-size: 20px;
    margin: 5px 0;
    font-style: revert;
    padding-top: 0px;
    padding-bottom: 0px;
}

.container {
    margin: 100px auto;
}

// .add{
//     margin-top: 8rem;
// }