.main {
    width: 600px;
    padding: 30px;
    margin: 30px auto 0;
    border: 2px solid red;
    box-shadow: 13px 15px 1px 1px rgba(204, 191, 191, 0.75);
    -webkit-box-shadow: 13px 15px 1px 1px rgba(204, 191, 191, 0.75);
    -moz-box-shadow: 13px 15px 1px 1px rgba(204, 191, 191, 0.75);
    border-radius: 4px;
    background-color: #e6e7f1;
    font-weight: 500;
}
